.aside {
	display: none;
	grid-column-end: span 3;
	&__menu {
		max-width: 200px;
		&-title {
			font-size: 0.875rem;
			font-weight: 700;
			margin-bottom: 0.75rem;
			padding-bottom: 0.75rem;
			border-bottom: 1px solid $color-navy-300;
		}
	}
}
