.header {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: $color-beige;
	height: toRem(64);
	z-index: 20;
	&.scroll {
		background-color: $color-white;
		border-bottom: 1px solid $color-black;
	}
}
