.header {
	width: 100%;
	.navigation {
    @include flex(space-between, center);
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
		a {
			color: $color-navy-800;
		}
		&__links {
      @include flex(space-between, center);
			gap: 1rem;
		}
		&__social {
      @include flex(space-between, center);
			gap: 0.5rem;
		}
	}
}
