.hero {
	position: relative;
	color: $color-text;
	width: 100%;
  margin-bottom: 2.5rem;
	// margin-left: -1rem;
	// margin-right: -1rem;

	// @include _480 {
	// 	margin-left: -2rem;
	// 	margin-right: -2rem;
	// }
	// @include _768 {
	// 	margin-left: -3.5rem;
	// 	margin-right: -3.5rem;
	// }

	&__info {
		background-color: $color-background-primary;
		position: relative;
		padding: 1.5rem;
		margin-bottom: 2.5rem;
		max-width: 500px;
		&-subtitle {
			font-size: 1rem;
			font-weight: 700;
		}
		&-title {
			font-weight: 700;
			line-height: 1.2;
			margin: 0;
			font-size: 2.125rem;
			padding-bottom: 1rem;
		}
		&-text {
			font-size: 0.875rem;
      margin-bottom: 0;
		}

		@include _480 {
			margin-left: 1.5rem;
			margin-right: 1.5rem;
		}
		@include _768 {
			margin-left: 2rem;
			margin-right: 2rem;
		}
	}

	.svg__dots {
		position: absolute;
		width: 100.5%;
		height: 100%;
	}
}
